name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  linux:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Deps
        run: sudo apt update && sudo apt install -y libgtk-3-dev libayatana-appindicator3-dev

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Set up Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r26b
          add-to-path: false

      - name: Build
        run: make .PHONY
      - name: Build Android
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          make easyss-android-arm64
          make easyss-android-amd64

      - name: Pack
        run: |
          cd bin
          zip easyss-linux-amd64.zip ./easyss
          zip easyss-windows-amd64.zip ./easyss.exe
          zip easyss-with-notray-linux-amd64.zip ./easyss-with-notray
          zip easyss-server-linux-amd64.zip ./easyss-server
          zip easyss-server-windows-amd64.zip ./easyss-server.exe
          mv easyss-android-arm64 libeasyss-arm64.so
          mv easyss-android-amd64 libeasyss-amd64.so
          zip libeasyss-arm64.so.zip ./libeasyss-arm64.so
          zip libeasyss-amd64.so.zip ./libeasyss-amd64.so

      - name: Build Arm64
        run: |
          GOOS=linux GOARCH=arm64 make easyss-with-notray
          GOOS=linux GOARCH=arm64 make easyss-server
      - name: Pack Arm64
        run: |
          cd bin
          zip easyss-with-notray-linux-arm64.zip ./easyss-with-notray
          zip easyss-server-linux-arm64.zip ./easyss-server

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          body: TODO
          files: bin/*.zip
  macos:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Build
        run: |
          make easyss
          make easyss-server
      - name: Pack
        run: |
          cd bin
          zip easyss-darwin-amd64.zip ./easyss
          zip easyss-server-darwin-amd64.zip ./easyss-server
      - name: Build Arm64
        run: |
          GOOS=darwin GOARCH=arm64 make easyss
          GOOS=darwin GOARCH=arm64 make easyss-server
      - name: Pack Arm64
        run: |
          cd bin
          zip easyss-darwin-arm64.zip ./easyss
          zip easyss-server-darwin-arm64.zip ./easyss-server
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          body: TODO
          files: bin/*.zip