name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  linux:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Deps
        run: sudo apt update && sudo apt install -y libgtk-3-dev libayatana-appindicator3-dev
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - name: Build
        run: make .PHONY
      - name: Pack
        run: |
          cd bin
          zip easyss-linux-amd64.zip ./easyss
          zip easyss-windows-amd64.zip ./easyss.exe
          zip easyss-with-notray-linux-amd64.zip ./easyss-with-notray
          zip easyss-server-linux-amd64.zip ./easyss-server
          zip easyss-server-windows-amd64.zip ./easyss-server.exe
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ github.ref_name }}
          body: TODO
          files: bin/*.zip
  macos:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - name: Build
        run: |
          make easyss
          make easyss-server
          GOOS=darwin GOARCH=arm64 make easyss-with-notray
      - name: Pack
        run: |
          cd bin
          zip easyss-darwin-amd64.zip ./easyss
          zip easyss-server-darwin-amd64.zip ./easyss-server
          zip easyss-with-notray-darwin-arm64.zip ./easyss-with-notray
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ github.ref_name }}
          body: TODO
          files: bin/*.zip